<%= render "layouts/navbar" %>
<%= render "layouts/errors" %>

<body id="home">
  <div class="site-logo-lg"><%= image_tag("CuteandBoot.jpg") %>
    <h1>IS YOUR PET CUTE OR NOT</h1>
    <h6>coming soon...</h6>
  </div>
</body>
