<%= render "layouts/navbar" %>
<%= render "layouts/errors" %>

<body id="home" class="home">
  <div class="site-logo-lg">
    <%= image_tag("windowpuppy.jpg") %>
    <h1>Cute or Boot</h1>
    <h6>How cute is your pet?</h6>
  </div>
</body>
