<div class="modal fade" id="gameover" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog modal-sm" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Game Over!</h4>
      </div>
      <div class="modal-body">
        <p>There are no more new pets to vote on. Please check back another time.</p>
        <p>In the meantime, feel free to check out your pet's fans or upload more pictures!</p>
      </div>
      <div class="modal-footer">
      </div>
    </div>
  </div>
</div>

<div class="wrapper">
  <div class="box">
    <div class="cuteorboot row row-offcanvas row-offcanvas-left">

      <div id="main" class="col-xs-10"></div>
    </div>
  </div>
</div>

<script type="text/javascript">
  window.CURRENT_USER_ID = "<%= current_user.id %>"
  window.CURRENT_USER_USERNAME = "<%= current_user.username.capitalize %>"

  var states = [];
  var animals = [];

  <% User::STATES.each do |state| %>
    states.push("<%= state.html_safe %>")
  <% end %>

  <% User::ANIMAL_TYPES.each do |animaltype| %>
    animals.push("<%= animaltype.html_safe %>")
  <% end %>

  window.STATES = states;
  window.ANIMAL_TYPES = animals;

  $(document).ready(function(){
    CuteOrBoot.initialize();
  });
</script>
