<div class="wrapper">
  <div class="box">
    <div class="cuteorboot row row-offcanvas row-offcanvas-left">

      <div id="main" class="col-xs-10"></div>
    </div>
  </div>
</div>

<script type="text/javascript">
  window.CURRENT_USER_ID = "<%= current_user.id %>"
  window.CURRENT_USER_USERNAME = "<%= current_user.username.capitalize %>"

  var states = [];
  var animals = [];

  <% User::STATES.each do |state| %>
    states.push("<%= state.html_safe %>")
  <% end %>

  <% User::ANIMAL_TYPES.each do |animaltype| %>
    animals.push("<%= animaltype.html_safe %>")
  <% end %>

  window.STATES = states;
  window.ANIMAL_TYPES = animals;

  $(document).ready(function(){
    CuteOrBoot.initialize();
  });
</script>
