<div class="backbone-sidebar row navbar-container">
  <h4>Cute or Boot</h4>
  <div class="backbone-sidebar navbar-header col-xs-12">
  </div>

  <ul class="nav hidden-xs col-xs-12" id="lg-menu">
    <li class="col-xs-12 showuser">
      <a class="showUser col-xs-8" href="<%= "#cuties/" + CURRENT_USER_ID %>">
        <%= CURRENT_USER_USERNAME %>
      </a>
      <a class="logout col-xs-4" href="">
        <i class="pull-right glyphicon glyphicon-log-out"></i>
      </a>
      <span class="logout-helper-msg pull-right">Log out</span>
    </li>
    <hr>
    <li class="game col-xs-12">
      <a href="#petreel">Pet Reel
        <i class="pull-right glyphicon glyphicon-film"></i>
      </a>
    </li>
    <li class="notifications col-xs-12">
      <a href="javascript:void(0)">Notifications
        <i class="pull-right glyphicon glyphicon-comment"></i>
      </a>
    </li>
    <li class="topCutiesList col-xs-12">
      <a href="#top-cuties-list">Top Cuties List
        <i class="pull-right glyphicon glyphicon-fire"></i>
      </a>
    </li>
    <li class="showFans col-xs-12">
      <a href="#fans">Your pet's fans
        <i class="pull-right glyphicon glyphicon-heart"></i>
      </a>
    </li>
    <hr>
    <li class="searchUsers col-xs-12">
      <a href="#search">Search for cuties
        <i class="pull-right glyphicon glyphicon-search"></i>
      </a>
    </li>


    <div class="users-search col-xs-12">

    </div>
</ul>


  <ul class="nav nav-tiny visible-xs col-xs-12" id="xs-menu">
    <li class="showUser">
      <a href="<%= "#cuties/" + CURRENT_USER_ID %>" class="text-center">
        <i class="glyphicon glyphicon-home"></i>
      </a>
    </li>
    <li class="game">
      <a href="#petreel" class="text-center">
        <i class="glyphicon glyphicon-film"></i>
      </a>
    </li>
    <li class="notifications">
      <a href="javascript:void(0)" class="text-center">
        <i class="glyphicon glyphicon-comment"></i>
      </a>
    </li>
    <li class="topCutiesList">
      <a class="text-center" href="#top-cuties-list">
        <i class="glyphicon glyphicon-fire"></i>
      </a>
    </li>
    <li class="showFans">
      <a class="text-center" href="#fans">
        <i class="glyphicon glyphicon-heart"></i>
      </a>
    </li>
    <li class="searchUsers">
      <a class="text-center" href="#search">
        <i class="glyphicon glyphicon-search"></i>
      </a>
    </li>
    <li class="logout">
      <a class="text-center" href="">
        <i class="glyphicon glyphicon-log-out"></i>
      </a>
    </li>
  </ul>
</div>
