<ul class="nav hidden-xs" id="lg-menu">
  <li class="showUser">
    <a href="<%= "#cuties/" + CURRENT_USER_ID %>">
      <%= CURRENT_USER_USERNAME %>
      <i class="pull-right glyphicon glyphicon-home"></i>
    </a>
  </li>
  <li class="game">
    <a href="#petreel">Pet Reel
      <i class="pull-right glyphicon glyphicon-film"></i>
    </a>
  </li>
  <li class="notifications">
    <a href="javascript:void(0)">Notifications
      <i class="pull-right glyphicon glyphicon-comment"></i>
    </a>
  </li>
  <li class="topCutiesList">
    <a href="#top-cuties-list">Top Cuties List
      <i class="pull-right glyphicon glyphicon-fire"></i>
    </a>
  </li>
  <li class="showFans">
    <a href="#fans">Your pet's fans
      <i class="pull-right glyphicon glyphicon-heart"></i>
    </a>
  </li>
  <li class="logout">
    <a href="">Logout
      <i class="pull-right glyphicon glyphicon-log-out"></i>
    </a>
  </li>
</ul>

<ul class="list-unstyled hidden-xs" id="sidebar-footer">
  <li class="search">
    <a href="#search">Search
      <i class="pull-right glyphicon glyphicon-search"></i>
    </a>
  </li>
</ul>

<ul class="nav nav-tiny visible-xs" id="xs-menu">
  <li class="showUser">
    <a href="<%= "#cuties/" + CURRENT_USER_ID %>" class="text-center">
      <i class="glyphicon glyphicon-home"></i>
    </a>
  </li>
  <li class="game">
    <a href="#petreel" class="text-center">
      <i class="glyphicon glyphicon-film"></i>
    </a>
  </li>
  <li class="notifications">
    <a href="javascript:void(0)" class="text-center">
      <i class="glyphicon glyphicon-comment"></i>
    </a>
  </li>
  <li class="topCutiesList">
    <a class="text-center" href="#top-cuties-list">
      <i class="glyphicon glyphicon-fire"></i>
    </a>
  </li>
  <li class="showFans">
    <a class="text-center" href="#fans">
      <i class="glyphicon glyphicon-heart"></i>
    </a>
  </li>
  <li class="logout">
    <a class="text-center" href="">
      <i class="glyphicon glyphicon-log-out"></i>
    </a>
  </li>
</ul>
