<% if (parseInt(CURRENT_USER_ID) !== parseInt(user.id)) { %>
  <ul class="nav navbar-nav">
    <li><button class="btn btn-primary cuteit">cute it</button></li>
    <li><button class="btn btn-danger bootit">boot it</button></li>
  </ul>
<% } %>

<% rating = user.escape("rating") %>
<% if (!rating) { rating = 0 } %>

<div class="navbar-header">
  <a class="navbar-brand" href="#toggleprofile">
    <%= user.escape("username") %>, <%= user.escape("gender") %>
  </a>
  <%= "shorty's a " + rating %>
</div>

<% if (parseInt(CURRENT_USER_ID) === parseInt(user.id)) { %>
  <div class="navbar-header">
    <a class="navbar-brand" href="#toggleprofile">I'm cute. Believe it.</a>
  </div>
<% } %>

<ul class="nav navbar-nav navbar-right">
  <% if (parseInt(CURRENT_USER_ID) === parseInt(user.id)) { %>
    <li>
      <a class="add-image" href="#addImage">Add Cute Picture</a>
    </li>
    <li>
      <a class="editprofile" href="javascript:void(0)">Edit profile view</a>
    </li>
  <% } %>

  <li>
    <a class="toggleprofile" href="javascript:void(0)">Toggle profile view</a>
  </li>
</ul>
