<% var currentUser = parseInt(CURRENT_USER_ID) === parseInt(user.id) %>
<% var currentUsersVote = user.escape("current_users_vote") %>
<% var username = user.escape("username") %>
<% username = username.charAt(0).toUpperCase() + username.substring(1) %>

<% if (username) { %>
  <% if (!currentUser) { %>
    <% if (currentUsersVote === "0") { %>
      <span class="glyphicon glyphicon-remove"></span>
    <% } else if (currentUsersVote === "1") { %>
      <span class="glyphicon glyphicon-heart"></span>
    <% } else { %>
      <ul class="nav navbar-nav">
        <li><button class="btn btn-primary cuteit">cute it</button></li>
        <li><button class="btn btn-danger bootit">boot it</button></li>
      </ul>
    <% } %>
  <% } %>

  <% var rating = user.escape("rating") %>
  <% if (!rating) { rating = 0 } %>

  <div class="navbar-header">
    <a class="navbar-brand" href="#toggleprofile">
      <%= username + ", " + user.escape("gender") %>
    </a>
    <%= "shorty's a " + rating %>
  </div>

  <% if (currentUser) { %>
    <div class="navbar-header">
      <a class="navbar-brand" href="#toggleprofile">I'm cute. Believe it.</a>
    </div>
  <% } %>

  <ul class="nav navbar-nav navbar-right">
    <% if (currentUser) { %>
      <li>
        <a class="add-image" href="#addImage">Add Cute Picture</a>
      </li>
      <li>
        <a class="editprofile" href="#editprofile">Edit profile view</a>
      </li>
    <% } %>

    <li>
      <a class="toggleprofile" href="javascript:void(0)">Toggle profile view</a>
    </li>
  </ul>
<% } else { %>
  <h6>Nothing to see here.</h6>
<% } %>
