<% var currentUser = parseInt(CURRENT_USER_ID) === parseInt(user.id) %>
<% var currentUsersVote = user.escape("current_users_vote") %>
<% var username = user.escape("username") %>
<% username = username.charAt(0).toUpperCase() + username.substring(1) %>

<% if (username) { %>
  <% if (!currentUser) { %>
    <% if (currentUsersVote === "0") { %>
      <span class="glyphicon glyphicon-remove"></span>
    <% } else if (currentUsersVote === "1") { %>
      <span class="glyphicon glyphicon-heart"></span>
    <% } else { %>
      <ul class="nav navbar-nav">
        <li>
          <button
            class="btn btn-info btn-circle btn-xl cuteit"
            data-toggle="tooltip"
            data-placement="bottom"
            title="cute!">
            <i class="glyphicon glyphicon-ok"></i>
          </button>
        </li>
        <li>
          <button
            class="btn btn-danger btn-circle btn-xl bootit"
            data-toggle="tooltip"
            data-placement="bottom"
            title="booooot">
            <i class="glyphicon glyphicon-remove"></i>
          </button>
        </li>
      </ul>
    <% } %>
  <% } %>

  <div class="navbar-header">
    <a class="navbar-brand" href="#cuties/<%= user.id %>">
      <%= username + ", " + user.age %>
    </a>
  </div>

  <% if (currentUser) { %>
    <div class="navbar-header">
      <a class="navbar-brand">I'm cute. Believe it.</a>
    </div>
  <% } %>

  <ul class="nav navbar-nav navbar-right">
    <% if (currentUser) { %>
      <li>
        <button
          type="button"
          class="add-image btn btn-default btn-circle btn-lg"
          data-toggle="tooltip"
          data-placement="bottom"
          title="upload picture">
          <i class="glyphicon glyphicon-picture"></i>
        </button>
      </li>
      <li>
        <button
          type="button"
          class="editprofile btn btn-default btn-circle btn-lg"
          data-toggle="tooltip"
          data-placement="bottom"
          title="edit profile">
          <i class="glyphicon glyphicon-cog"></i>
        </button>
      </li>
    <% } %>

    <li>
      <button
        type="button"
        class="toggleprofile btn btn-default btn-circle btn-lg"
        data-toggle="tooltip"
        data-placement="bottom"
        title="profile">
        <i class="glyphicon glyphicon-user"></i>
      </button>
    </li>
  </ul>
<% } else { %>

<% } %>
