
  <div class="col-xs-12">
    <div class="input-group">
      <input
        autocomplete="off"
        class="form-control"
        type="text"
        name="username"
        placeholder="Search by username...">

      <span class="input-group-btn">
        <button class="btn btn-default" type="button">
          <span class="glyphicon glyphicon-search"></span>
        </button>
      </span>
    </div>
  </div>

  <ul class="users-results col-xs-4"></ul>
