<div class="carousel-sm carousel">
  <div class="items">
    <% if (pictures.length === 0) { %>
      <p>Not cute enough for pictures?</p>
    <% } else { %>
      <% pictures.each(function (pic, i) { %>
        <img src="<%= pic.escape("image_url") %>" alt="<%= 'pic' + i %>">
      <% }); %>
    <% } %>
  </div>

  <% if (pictures.length > 1) { %>
    <a class="slide-left left carousel-control" href="javascript:void(0)">
      <span class="glyphicon glyphicon-chevron-left"></span>
    </a>
    <a class="slide-right right carousel-control" href="javascript:void(0)">
      <span class="glyphicon glyphicon-chevron-right"></span>
    </a>
  <% } %>
</div>
