<div class="slick-small">
<% if (pictures.length === 0) { %>
  <div class="default-image"></div>
<% } else { %>
  <% pictures.each(function (pic, i) { %>
    <div><img src="<%= pic.escape("image_url") %>"></div>
  <% }); %>
<% } %>
</div>
