div.carousel-lg {
  /* set desired height and width according to image size */
  height: 440px;
  width: 100%;
  background-color: rgb(47, 45, 45);
}

.carousel-lg p {
  color: whitesmoke;
  position: relative;
  margin: auto;
  height: 100%;
  text-align: center;
  top: 50%;
}

div.carousel-lg > div.items {
  /* relative so that inner absolutes are against the items, not the
     viewport */
  position: relative;
  overflow: hidden;

  /* set height to be the same as carousel */
  height: 100%;
  width: 100%;
}

div.carousel-lg > div.items > *:not(.active) {
  display: none;
}

div.carousel-lg > div.items > *.active {
  position: absolute;
  left: 50%
  height: 100%;
  transition: left 100ms linear;
}

div.carousel-lg > div.items > *.active.left {
  left: -100%;
}

div.carousel-lg > div.items > *.active.right {
  left: 100%;
}

div.carousel-sm {
  /* set desired height and width according to image size */
  height: 160px;
  width: 100%;
  background-color: rgb(47, 45, 45);
}

.carousel-sm p {
  color: whitesmoke;
  position: relative;
  margin: auto;
  height: 100%;
  text-align: center;
  top: 50%;
}

div.carousel-sm > div.items {
  /* relative so that inner absolutes are against the items, not the
     viewport */
  position: relative;
  overflow: hidden;

  /* set height to be the same as carousel */
  height: 100%;
  width: 100%;
}

div.carousel-sm > div.items > *:not(.active) {
  display: none;
}

div.carousel-sm > div.items > *.active {
  position: absolute;
  left: 10%;
  height: 100%;

  transition: left 100ms linear;
}

div.carousel-sm > div.items > *.active.left {
  left: -100%;
}

div.carousel-sm > div.items > *.active.right {
  left: 100%;
}
