$cob-purple: rgb(53, 32, 99);
$cob-teal: rgb(69, 194, 197);
$questrial: 'Questrial', sans-serif;

::-webkit-scrollbar {
    display: none;
}

nav.railsnav {
  background: transparent;
}

#home a {
  color: white;
  opacity: 0.7;
  transition: 0.3s ease-in;
}

#home a:hover {
  color: white;
  opacity: 1;
  transition: 0.3s ease-in;
}

li {
  list-style: none;
}

#home h1, h2, h3, h5, h6 {
  text-align: center;
  color: white;
}

body#home.home {
  color: white;
  margin-top: 50px;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: $cob-teal;
}

.site-logo-lg {
  color: white;
  font-family: $questrial;
  position: fixed;
  height: 100%;
  width: 100%;
}

.site-logo-lg > img {
  vertical-align: middle;
  width: 50%;
  left: 25%;
  position: relative;
  margin-top: 75px;
}

.site-logo-lg .btn {
  vertical-align: middle;
  position: relative;
  width: 20%;
  left: 40%;
}

body#home.signup {
  color: white;
  margin-top: 50px;
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: asset-url("terriermeadows.jpg");
  background-color: black;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  overflow: scroll;
}

body#home.login {
  color: white;
  margin-top: 50px;
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: asset-url("terriermeadows.jpg");
  background-color: black;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  overflow: scroll;
}

#home div.row.login {
  position: fixed;
  width: 100%;
  height: 100%;
}

span.help-block {
  color: white;
}

.cuteorboot {
  height: 100%;
}

.alert {
  padding: 15px;
  position: absolute;
  margin: auto;
  left: 25%;
  right: 25%;
  background-color: 1px solid transparent;
  border-radius: 4px;
  z-index: 10000000000000;
  height: auto;
  top: 0px;
  text-align: center;
  box-shadow: 0px 0px 50px 1px rgb(141, 182, 223) inset;
}

div#main {
  overflow: scroll;
}

#main {
  max-width: 1024px;
  background-color: white;
  padding-left:0;
  padding-right:0;
  height: 100%;
}

main.fans {
  height: 100%;
  overflow: scroll;
}

main.top-cuties {
  height: 100%;
  overflow: scroll;
}

div.edit-backdrop.toggled-off {
  opacity: 0;
}

div.edit-backdrop {
  opacity: 1;
  display: block;
  overflow-y: hidden;

  -webkit-transition: all 0.5s ease-in;
  -moz-transition: all 0.5s ease-in;
  transition: all 0.5s ease-in;
}

div.edit-content.toggled-off {
  opacity: 0;
}

div.edit-content {
  opacity: 1;
  -webkit-transition: all 0.5s ease-in;
  -moz-transition: all 0.5s ease-in;
  transition: all 0.5s ease-in;
}

.edit-content {
  border: solid black 1px;
  z-index: 101000000000000000000000000;
  background-color: white;
  background-image: url("http://www.spwallpapers.com/var/albums/640x480/Cute%20animals%20life%20wallpapers%20640x480/Cute%20animals%20life%20wallpapers%20640x480%20(02).jpg?m=1341300535");
  background-size: cover;
  background-position: center;
  border-radius: 5px;
  padding: 20px;
  height: 80%;
  width: 50%;
  position: fixed;
  /* margin: 0 auto; */
  margin-top: auto;
  overflow: scroll;
  left: 25%;
}

.edit-backdrop {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.7);
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 10100000000000000000000000;
}

main.search-form div.users-results {
  padding-left: 0px;
  padding-right: 0px;
}
