/* custom template */
html, body {
 height: 100%;
 font-family:verdana,arial,sans-serif;
 color: #555555;
}

.backbone-sidebar.navbar-header {
  height: 10%;
  margin-bottom: 20px;
  background-image: url("spoteye.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  padding: 15px;
}

.backbone-sidebar.navbar-header:hover {
  cursor: pointer;
}

.nav {
  font-size:15px;
}

a {
  color: #222222;
}

a:hover {
  text-decoration: none;
}

#sidebar div ul li a {
  color: white;
  opacity: 0.5;
  transition: 0.3s ease-out;
}

#sidebar div ul li a:hover {
  color: white;
  opacity: 1;

  transition: 0.3s ease-in;
}

hr {
  border-color: #dedede;
}

div.navbar-container {
}

#sidebar div ul li.active a {
  color: white;
  opacity: 1.0;
}


.wrapper, .row {
  height: 100%;
  margin-left: 0px;
  margin-right: 0px;
}

div.row {
  margin-left: 0px;
  margin-right: 0px;
}

.wrapper:before, .wrapper:after,
.column:before, .column:after {
  content: "";
  display: table;
}

.wrapper:after,
.column:after {
  clear: both;
}

.column {
  height: 100%;
  overflow: hidden;
  *zoom:1;
}

.column .padding {
  padding: 20px;
}

.box {
  bottom: 0; /* increase for footer use */
  left: 0;
  position: absolute;
  right: 0;
  top: 0px;
  background-color:#444444;
}

.divider {
	margin-top:32px;
}

#sidebar {
  padding:0px;
	padding-top:15px;
}

#sidebar, #sidebar a, #sidebar-footer a {
  color:#ffffff;
  background-color:transparent;
  text-shadow:0 0 2px #000000;
  padding-left:5px;
}

div.backbone-sidebar ul.logout {
  position:absolute;
  bottom:40px;
  padding:5px;
}

#footer {
  margin-bottom:20px;
}

/* adjust the contents on smaller devices */
@media (max-width: 768px) {
  .column .padding {
    padding: 7px;
  }

  .full{
    padding-top:20px;
  }
}


/*
 * off canvas sidebar
 * --------------------------------------------------
 */
@media screen and (max-width: 768px) {
  .row-offcanvas {
    position: relative;
    -webkit-transition: all 0.25s ease-out;
    -moz-transition: all 0.25s ease-out;
    transition: all 0.25s ease-out;
  }

  .row-offcanvas-left.active {
    left: 33%;
  }

  .row-offcanvas-left.active .sidebar-offcanvas {
    left: -33%;
    position: absolute;
    top: 0;
    width: 33%;
    margin-left: 5px;
  }

  #sidebar, #sidebar a, #sidebar-footer a {
    padding-left: 20px;
  }
}
