.top-cuties-list-item p {
  text-align: center;
}

.cutie-item-img {
  margin-left: 30%;
  height: 100px;
  width: 40%;
  box-shadow: 0px 0px 20px 5px rgb(237, 224, 174);
  border-radius: 50px;
  margin-right: 30%;
}

.cutie-item-img.rating-sizzling {
  box-shadow: 0px 0px 20px 5px #FF4D00;
}

.cutie-item-img.rating-hot {
  box-shadow: 0px 0px 20px 5px rgb(255, 136, 0);
}

.cutie-item-img.rating-warm {
  box-shadow: 0px 0px 20px 5px rgb(255, 194, 0);
}

.cutie-item-img.hover {
  cursor: pointer;
  opacity: .5;
  box-shadow: 0px 0px 30px 5px;
}
