.top-cuties-list-item p {
  text-align: center;
}

.cutie-item-img {
  margin-left: 30%;
  height: 100px;
  width: 40%;
  border-radius: 50px;
  margin-right: 30%;
  opacity: 0.8;
  transition: 0.3s ease-out;
}

.cutie-item-img.rating-sizzling {
  box-shadow: 0px 0px 10px 2px #FF0000;
  background-color: #FF0000;
}

.cutie-item-img.rating-hot {
  box-shadow: 0px 0px 10px 2px #FF4D00;
  background-color: #FF4D00;
}

.cutie-item-img.rating-warm {
  box-shadow: 0px 0px 10px 2px #FF9100;
  background-color: #FF9100;
}

.cutie-item-img.rating-lukewarm {
  box-shadow: 0px 0px 10px 2px #FFE800;
  background-color: #FFE800;
}

.cutie-item-img.rating-cold {
  box-shadow: 0px 0px 10px 2px blue;
  background-color: blue;
}

.cutie-item-img.hover {
  cursor: pointer;
  opacity: 1;
  box-shadow: 0px 0px 15px 5px;

  transition: 0.3s ease-in;
}
