$cob-purple: rgb(53, 32, 99);
$cob-teal: rgb(69, 194, 197);

nav.usernav.navbar.navbar-default {
  min-height: 90px;
  margin-bottom: 0px;
  padding: 0px 20px;
}

.btn-circle.btn-xl {
  margin: 10px;
  width: 70px;
  height: 70px;
  padding: 10px 16px;
  font-size: 30px;
  line-height: 1.33;
  border-radius: 35px;
  transition: 0.2s ease-out;
}

.btn-circle.btn-xl:hover {
  margin: 7px;
  width: 76px;
  height: 76px;
  padding: 7px 13px;
  font-size: 35px;
  line-height: 1.33;
  border-radius: 60px;
  transition: 0.2s ease-in;
}

.btn-circle.btn-xl.bootit {
  box-shadow: 0px 0px 30px 1px rgb(113, 36, 36) inset;
}

.btn-circle.btn-xl.cuteit {
  box-shadow: 0px 0px 30px 1px rgb(38, 116, 181) inset;
}

.btn-circle.btn-lg {
  width: 50px;
  height: 50px;
  padding: 13px 13px;
  font-size: 18px;
  line-height: 1.33;
  border-radius: 50px;
  margin: 20px;
  transition: 0.2s ease-out;
}

.btn-circle.btn-lg:hover {
  border: 2px solid $cob-purple;
  transition: 0.2s ease-in;
  background: white;
}

.btn-circle.btn-lg.active {
  border: 2px solid $cob-purple;
  transition: 0.2s ease-in;
  background: rgba(247, 152, 55, 0.9);
  box-shadow: 0px 0px 10px 1px $cob-purple inset;
}
