<h1>Pet Search</h1>

<ul class="nav nav-tabs search-tabs">
  <li class="username-search active"><a>By Username</a></li>
  <li class="state-search"><a>By State</a></li>
  <li class="hobby-search"><a>By Hobby</a></li>
</ul>

<div
  class="search-form col-xs-6 col-xs-offset-3"
  data-form-name="<%= formName %>">
  <div class="input-group">
    <input
      autocomplete="off"
      class="form-control"
      type="text"
      name="<%= formName %>"
      placeholder="Search by <%= formName %>...">

    <span class="input-group-btn">
      <button class="btn btn-default" type="button">
        <span class="glyphicon glyphicon-search"></span>
      </button>
    </span>
  </div>
</div>

<div class="users-results col-xs-12"></div>
